

div.menu-swipper {
    width: 100%;
    direction: rtl;
    box-shadow: 10px 10px 20px #2b2b2b;
    border-radius: 10px;
    font-family: font-2;

}

div.swiper {
    margin-bottom: 150px;
    padding: 10px;
    box-sizing: border-box;
}



div.swiper-slide>div.about {
    background-color: #021526;
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.swiper-slide>div.about>p.name {
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
    box-sizing: border-box;
}

div.swiper-slide>div.about>p.gheimat {
    color: red;
    text-align: center;
    padding-bottom: 20px;
}

div.swiper-slide>div.about>div.btn{
    text-align: center;
    margin-bottom: 15px;
}

div.swiper-slide>div.about>div.btn>a.buy {
    background-color: green;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    font-family:iransans ;
    font-weight: 400;
    transition:3000ms;
}

div.swiper-slide>div.about>div.btn>a.buy :hover {
    width: 140px;
    text-align: center;

}
